@model PostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10" style="white-space:pre-line">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorBiography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorBiography)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
